body, html{
        margin: 0;
        height: 100%;
      }.topbar{
        height: 30px;
        background: white;
        border-bottom: 1px solid #bbb;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
        z-index: 5;
        padding: 5px 5px 5px 180px;
        font: 400 20px/30px 'Poiret One', "times new roman", times, serif;
        color: white;
      }.logo{
        background: url('logo.png') no-repeat top left / contain;
        height: 30px;
        width: 130px;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 5px;
      }.part{
        text-transform: uppercase;
        float: right;
        font: 400 14px/30px 'Poiret One', serif;
        margin: 0 10px;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 15px;
        transition: background 0.2s ease-in-out;
        -webkit-transition: background 0.2s ease-in-out;
      }.part:hover{
        background: #ccf;
      }.feature{
        height: 100%;
        background: #B7CADE no-repeat center fixed;
        background-size: cover;
        position: relative;
        text-align: center;
      }.feature h1 {
        position: absolute;
        font-family: Lato;
        margin-top: 5rem;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        /*top: 2rem;*/
        color: white;
        font-size: 5rem;
      }
      .featuretext{
        font: 400 25px/40px 'Poiret One', "times new roman", times, serif;
        color: black;
        letter-spacing: 1px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        position: absolute;
        top: 40%;
        text-align: center;
        padding: 40px;
        background: #FBFCFC;
      } .featuretext2{
        font: 400 25px/40px 'Poiret One', "times new roman", times, serif;
        color: black;
        letter-spacing: 1px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        position: absolute;
        top: 25%;
        text-align: center;
        padding: 40px;
        background: #FBFCFC;
      }#feature1{
        background-image: url('xcampus.jpg');
      }#feature2{
        background-image: url('bw2.jpg');
      }#feature3{
        background-image: url('bw3.jpg');
      }#feature4{
        background-image: url('bw4.jpg');
      }
      #feature1 .featuretext {
        margin-top: 5rem;
      }img.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }img.rightalign{
        float: right;
      }img.leftalign{
        float: left;
      }.textimg.half{
        display: inline-block;
        float: left;
        width: 50%;
      }.content{
        width: 90%;
        margin: 0 auto;
        font: 400 14px/25px 'Raleway', "times new roman", times, serif;
      }.content:after{
        content: " ";
        display: block;
        height: 0;
        clear: both;
      }.title{
        color: #000000;
        text-transform: uppercase;
        font: 400 14px/40px 'Raleway', sans-serif;
        margin-top: 10px;
      }.title a{
        text-decoration: none;
        color: #0F4D92;
      }.title a:hover{
        color: #0F4D92;
        text-decoration: underline;
      }.title a:visited{
        text-decoration: none;
        color: #0F4D92;
      }.title hr{
        height: 1px;
        margin: 10px 0 20px 0;
        background: #0F4D92;
        border: 0;
      }.q{
        float: right;
      }.text{
        position: relative;
        width: 98%;
        text-align: justify;
        margin: 40px 0;
        float: left;
      }.textimg{
        background: #fff no-repeat top center;
        background-size: contain;
        margin: 40px auto;
      }.text big{
        font-size: 80px;
        float: left;
        line-height: 70px;
        margin-right: 10px;
      }.side{
        width: 10%;
        padding-left: 3%;
        float: right;
        margin: 40px 0;
      }.side img{
        width: 100%;
      }.sidequote{
        margin-top: 200px;
        font: 400 14px/25px 'Poiret One', "times new roman", times, serif;
        text-shadow: 1px 1px 1.5px #aaa;
        letter-spacing: 1px;
        text-align: right;
      }h2{
        text-transform: uppercase;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 25px 0;
        letter-spacing: 2px;
      }h3{
        text-transform: uppercase;
        margin: 0;
        font-weight: normal;
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 15px 0;
        letter-spacing: 2px;
      }